* {
  font-family: Arial, Helvetica, sans-serif;


}

.container-fluid .container {
  padding: 20px 0px;
}

.container-fluid .container .left .tieude {
  border-bottom: 1px solid #ddd;

}

.container-fluid .container .left h2 {
  margin: 20px 0px;
  font-weight: 700;
}

.container-fluid .container .left .tieude a {
  color: black;
  text-decoration: none;
}

.container-fluid .container .left .tintuc1 {
  margin: 10px 0px;
}

.container-fluid .container .left .tintuc1 .cart img {
  margin: 10px 0px;
  border-radius: 10px;
}

.container-fluid .container .left .tintuc1 .cart b {
  padding: 15px 2px;
  font-size: 18px;

}

.container-fluid .container .left .tintuc1 .cart b:hover {
  color: red;

}

.container-fluid .container .left .tintuc1 .cart p {
  color: rgba(128, 128, 128, 0.76);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.container-fluid .container .left .tintuc2 {
  margin: 10px 0px;
}

.container-fluid .container .left .tintuc2 .cart img {
  margin: 10px 0px;
  border-radius: 10px;
}

.container-fluid .container .left .tintuc2 .cart b {
  padding: 5px 2px;
  font-size: 18px;

}

.container-fluid .container .left .tintuc2 .cart p {
  color: rgba(128, 128, 128, 0.76);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.container-fluid .container .left .tintuc2 .cart b:hover {
  color: red;

}

.container-fluid .container .right h4 {
  padding: 10px 0px;
  font-weight: 700;
  color: #bd141a;


}

.container-fluid .container .right .baiviet {
  border: 1px solid #ddd;
  width: 80%;

}

.container-fluid .container .right .baiviet .row {
  padding: 10px 0px;
  margin: 0 auto;
  width: 95%;
  border-bottom: 1px solid #ddd;

}

.container-fluid .container .right .baiviet .row img {
  border-radius: 50%;
  width: 70px;

}

.container-fluid .container .right .baiviet .row p {
  font-size: 15px;

}

.container-fluid .container .right .baiviet .row p:hover {
  color: #bd141a;

}

.container-fluid .container .dangky-tintuc {
  border-radius: 5px;
  width: 80%;
  margin: 20px 0px;
  background-color: #bd141a;

}

.container-fluid .container .dangky-tintuc h4 {
  padding: 5px 20px;
  font-size: 25px;
  color: #fff;

}

.container-fluid .container .dangky-tintuc p {
  padding: 0px 20px;
  color: #fff;

}

.container-fluid .container .dangky-tintuc input {
  border-radius: 10px;
  border: none;
  margin: 10px 20px;
  width: 90%;
  padding: 5px 5px;


}

.container-fluid .container .dangky-tintuc textarea {
  margin: 10px 20px;
  width: 90%;
  padding: 5px 5px;
  border-radius: 10px;
  border: none;


}

.container-fluid .container .dangky-tintuc button {
  margin: 10px 10px;
  width: 90%;
  background-color: #FF9800;
  padding: 5px 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 50px;


}


@media screen and (min-width: 700px) and (max-width:1400px) {
  @media screen and (min-width: 700px) and (max-width:1024px) {
    .container-fluid .container .right .baiviet {

      width: 100% !important;
    }

    .container-fluid .container .right .baiviet .row p {
      font-size: 13px !important;
    }

    .container-fluid .container .right .baiviet .row img {
      border-radius: 50%;
      width: 50px;

    }
  }


  .container-fluid .container .right .baiviet .row p {
    margin-left: 20px;
    font-size: 13px !important;
  }

  .container-fluid .container .dangky-tintuc {
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
    padding: 0px 10px;
    background-color: #bd141a;

  }

  .container-fluid .container .dangky-tintuc input {
    border-radius: 10px;
    border: none;
    margin: 10px 10px;
    width: 90%;
    padding: 5px 5px;
  }

  .container-fluid .container .dangky-tintuc textarea {
    margin: 10px 10px;
    width: 90%;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
  }

  .container-fluid .container .left {
    margin: 10px auto;
    border-radius: 10px;

  }

  .container-fluid .container .left img {
    width: 100% !important;
    margin: 10px auto;

  }

  .container-fluid .container .right {
    margin: 10px auto;
    border-radius: 10px;

  }

  .container-fluid .container .right img {
    width: 100% !important;
    margin: 10px auto;

  }

  .container-fluid .container .right .baiviet {
    margin: 20px auto !important;
    width: 100% !important;


  }

}

@media screen and (min-width: 375px) and (max-width:932px) {
  .container-fluid .container .left .tintuc1 .cart img {
    margin: 10px 0px;
    border-radius: 10px;
    width: 100% !important;
  }

  .container-fluid .container .left .tintuc2 .cart img {
    margin: 10px 0px;
    border-radius: 10px;
    width: 100% !important;
  }

  .container-fluid .container .right {
    margin: 20px 40px !important;
    width: 100%;


  }

  .container-fluid .container .right .baiviet {
    margin: 20px auto !important;
    width: 50% !important;


  }
}