.header{
    background-color: #54545c;
    padding-left: 0px;
    position: sticky;
    top: 0;
    left: 0;
}

.row img {
    width: 60%;
    text-align: center;
}

.bottom {
    background-color: #54545c;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.row .logo {
    text-align: center;

}

.row .search {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    flex: 1;
    width: auto;
}
hr{
    color: white;
}
.search i{
    margin-left: -40px;
    color: #161616;
    padding: 11px;
}
.icon button{
    margin-top: 50px;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.icon button:hover {
    background-color: red;
    color: white;
}

 .list ul li a {
    color: white;
    font-weight: bold;
}

 .list ul {
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
}

 .list ul li {
    text-transform: uppercase;
}

/* .show{
    background-color: #54545c;
} */
/* .show li a{
    color: white;
} */
.row .search input {
    width: 70%;
    padding: 6px;
}

/* .row >* {
    width: 100%;
} */

@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .col-sm-3 {
        margin-top: 0;
    }
}

.link:hover {
    background-color: #161616;
}

a:hover {
    background-color: #161616;
}

a:active {
    color: #161616;
}

.dropbtn {
    background-color: #54545c;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #54545c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #161616
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #161616;
}

/* .col1 {
    text-align: center;
}

.col2 {
    display: flex;
}

.icon {
    font-size: 25px;
    margin-top: 25px;
}

.header {
    background-color: #161616;
}

.col3 {
    margin-top: 27px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-wrapper input {
    flex: 1;
}

.fa-search {
    border: 1px solid #161616;
    background-color: orange;
    padding: 11px;
    border-radius: 10px;
}

.col4 {
    padding: 20px 0;
    font-size: 35px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    background-color: #161616;
    padding: 20px 0;
    font-weight: bolder;
}

.nav-link {
    color: white;
}

.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #555555;
    background-color: #ffffff;
}

.nav-link.active {
    color: #555555;
    background-color: #ffffff;
}
.nav-item {
    margin: 0 40px; 
}
.nav-item.dropdown .dropdown-toggle {
    color: #ffffff;
    /* Màu chữ mặc định của liên kết dropdown */
/* } */
/* .nav-item.dropdown .dropdown-toggle:hover { */
/* color: #555555; */
/* Màu chữ mặc định của liên kết dropdown */
/* } */
/* Màu chữ của các mục trong menu dropdown khi không hover */
/* .nav-item.dropdown .dropdown-menu .dropdown-item { */
/* color: #555555; */
/* Màu chữ mặc định của các mục trong menu dropdown */
/* } */

/* Màu chữ của các mục trong menu dropdown khi hover */
/* .nav-item.dropdown .dropdown-menu .dropdown-item:hover { */
/* background-color: #555555; Màu nền khi hover */
/* color: #ffffff; Màu chữ khi hover */
/* } */