.container-fluid{
    background-color: #161616;
}
.row img{
    width: 50%;
    text-align: center;
}
.container{
    background-color: 54545c;
}
.row .logo{
    text-align: center;

}
.row .search{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}
.row .icon{
    color: #FE980F;
    font-size: x-large;
    margin-top: 50px;
}
.container .list ul{
    width: 100%;
    justify-content: space-between;
}
.container .list ul li{
    text-transform: uppercase;
}
/* .show{
    background-color: #54545c;
} */
/* .show li a{
    color: white;
} */
.row .search input{
    width: 90%;
    padding: 6px;
}
/* .row >* {
    width: 100%;
} */

@media (min-width: 576px) {
    .navbar-expand-sm{
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) {
    .col-md-4{
        margin-top: 30px;
    }
}
@media (min-width: 768px) {
    .col-md-3{
        margin-top: 40px;
    }
}





/* .col1 {
    text-align: center;
}

.col2 {
    display: flex;
}

.icon {
    font-size: 25px;
    margin-top: 25px;
}

.header {
    background-color: #161616;
}

.col3 {
    margin-top: 27px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-wrapper input {
    flex: 1;
}

.fa-search {
    border: 1px solid #161616;
    background-color: orange;
    padding: 11px;
    border-radius: 10px;
}

.col4 {
    padding: 20px 0;
    font-size: 35px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    background-color: #161616;
    padding: 20px 0;
    font-weight: bolder;
}

.nav-link {
    color: white;
}

.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #555555;
    background-color: #ffffff;
}

.nav-link.active {
    color: #555555;
    background-color: #ffffff;
}
.nav-item {
    margin: 0 40px; 
}
.nav-item.dropdown .dropdown-toggle {
    color: #ffffff;
    /* Màu chữ mặc định của liên kết dropdown */
/* } */
/* .nav-item.dropdown .dropdown-toggle:hover { */
    /* color: #555555; */
    /* Màu chữ mặc định của liên kết dropdown */
/* } */
/* Màu chữ của các mục trong menu dropdown khi không hover */
/* .nav-item.dropdown .dropdown-menu .dropdown-item { */
    /* color: #555555; */
    /* Màu chữ mặc định của các mục trong menu dropdown */
/* } */

/* Màu chữ của các mục trong menu dropdown khi hover */
/* .nav-item.dropdown .dropdown-menu .dropdown-item:hover { */
    /* background-color: #555555; Màu nền khi hover */
    /* color: #ffffff; Màu chữ khi hover */
/* } */
 
