<<<<<<< HEAD
.avatar {
    width: 100px;
=======
.introduce .avatar {
    width: 50px;
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.introduce h4 {
    padding: 10px 0px;
    font-weight: 700;
    color: #bd141a;
}

.introduce h2 {
    color: #555;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

<<<<<<< HEAD
.baiviet {
=======
.introduce .news {
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
    border: 1px solid #ddd;
    width: 60%;
    margin-bottom: 30px;
}

<<<<<<< HEAD
.baiviet .row {
=======
.introduce .news .row {
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    margin: 0 auto;
    width: 95%;
}

.introduce .frm {
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
    color: white;
    background-color: #bd141a;


}

.introduce .frm textarea {
    margin-top: 10px;
    width: 90%;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

.frm input {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    padding: 5px;
    width: 90%;
    margin-left: 10px;
}

.introduce .frm button {
    margin: 10px 10px;
    width: 90%;
    background-color: #FF9800;
    padding: 5px 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
}

<<<<<<< HEAD
#img {
    width: 100%;
=======
.introduce #img {
    width: 80%;
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
}

@media screen and (min-width: 700px) and (max-width:1400px) {
    @media screen and (min-width: 700px) and (max-width:1400px) {

<<<<<<< HEAD
        .container-fluid .container .right .baiviet {

            width: 80% ;
        }

        .container-fluid .container .right .baiviet .row p {
            font-size: 13px ;
        }

        .container-fluid .container .right .baiviet .row img {
=======
        .introduce .container-fluid .container .right .news {

            width: 100% !important;
        }

        .introduce .container-fluid .container .right .news .row p {
            font-size: 13px !important;
        }

        .introduce .container-fluid .container .right .news .row img {
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
            border-radius: 50%;
            width: 50px;

        }
    }

<<<<<<< HEAD
    .container-fluid .container .right .baiviet .row p {
=======
    .introduce .container-fluid .container .right .news .row p {
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
        margin-left: 20px;
        font-size: 13px !important;
    }

    .introduce .container-fluid .container .frm {
        border-radius: 5px;
        width: 100%;
        margin: 20px 0px;
        padding: 0px 10px;
        background-color: #bd141a;

    }

    .introduce .container-fluid .container .frm input {
        border-radius: 10px;
        border: none;
        margin: 10px 10px;
        width: 90%;
        padding: 5px 5px;
    }

    .introduce .container-fluid .container .frm textarea {
        margin: 10px 10px;
        width: 90%;
        padding: 5px 5px;
        border-radius: 10px;
        border: none;
    }

    .introduce .container-fluid .container .left {
        margin: 10px auto;
        border-radius: 10px;

    }

    .introduce .container-fluid .container .left img {
        width: 100% !important;
        margin: 10px auto;

    }

<<<<<<< HEAD
    .container-fluid .container .phu {
=======
    .introduce .container-fluid .container .right {
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
        margin: 10px auto;
        border-radius: 10px;

    }

<<<<<<< HEAD
    .container-fluid .container .phu img {
        width: 100% ;
=======
    .introduce .container-fluid .container .right img {
        width: 100% !important;
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
        margin: 10px auto;

    }

<<<<<<< HEAD
    .container-fluid .container .phu .table {
        width: 100% ;
=======
    .introduce .container-fluid .container .right .news {
        margin: 20px auto !important;
        width: 100% !important;
    }
    .introduce .news  {
       
        width: 100% !important;
   
    }
  
    .introduce .right .imgg  {
       
        width: 100% !important;
   
    }
    .introduce .right .frm{
         width: 100% !important;   
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
    }


}

@media screen and (min-width: 375px) and (max-width:932px) {
    .introduce .container-fluid .container .left .row img {
        margin: 10px 0px;
        border-radius: 10px;
        width: 100% !important;
    }

    .introduce .container-fluid .container .left .row img {
        margin: 10px 0px;
        border-radius: 10px;
        width: 100% !important;
    }

<<<<<<< HEAD
    .container-fluid .container .phu .table {
=======
    .introduce .container-fluid .container .right .news {
        margin: 20px 40px !important;
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
        width: 100%;


    }

<<<<<<< HEAD
    .container-fluid .container .avatarr img {
        width: 10%;
        margin: 0 auto;
    }
    
}
.container-fluid .container .right .baiviet .row img {
    border-radius: 50%;
    width: 70px;
}
.container-fluid .container .right .baiviet .row img {
    border-radius: 50%;
    width: 70px;
}
@media screen and (min-width: 300px) and (max-width: 673px) {
    .row img {
        width: 100% !important;
        text-align: center;
    }
}   
=======
    .introduce .container-fluid .container .right .news {
        margin: 20px auto !important;


    }
    .introduce .news  {
       
        width: 100% !important;
   
    }
  
    .introduce .right .imgg  {
       
        width: 100% !important;
   
    }
    .introduce .right .frm{
         width: 100% !important;   
    }
}
>>>>>>> 21877cbf6c1d8e5a80bc20fa45bff5d4cd4521b4
