.container-fluid .container .new{
    padding: 20px 0px;
}

.container-fluid .container .left .tieude {
    border-bottom: 1px solid #ddd;

}

.container-fluid .container .left h2 {
    margin: 20px 0px;
    font-weight: 700;
}

.container-fluid .container .left .tieude a {
    color: black;
    text-decoration: none;
}

.container-fluid .container .right h4 {
    padding: 0px 0px;
    font-weight: 700;
    color: #bd141a;


}

.container-fluid .container .right .baiviet {
    border: 1px solid #ddd;
    width: 80%;

}

.container-fluid .container .right .baiviet .row {
    padding: 10px 0px;
    margin: 0 auto;
    width: 95%;
    border-bottom: 1px solid #ddd;

}

.container-fluid .container .right .baiviet .row img {
    border-radius: 50%;
    width: 70px;

}

.container-fluid .container .right .baiviet .row p {
    font-size: 15px;

}

.container-fluid .container .right .baiviet .row p:hover {
    color: #bd141a;

}

.container-fluid .container .dangky-tintuc {
    border-radius: 5px;
    width: 80%;
    margin: 20px 0px;
    background-color: #bd141a;

}

.container-fluid .container .dangky-tintuc h4 {
    padding: 5px 20px;
    font-size: 25px;
    color: #fff;

}

.container-fluid .container .dangky-tintuc p {
    padding: 0px 20px;
    color: #fff;

}

.container-fluid .container .dangky-tintuc input {
    border-radius: 10px;
    border: none;
    margin: 10px 20px;
    width: 90%;
    padding: 5px 5px;


}

.container-fluid .container .dangky-tintuc textarea {
    margin: 10px 20px;
    width: 90%;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;


}

.container-fluid .container .dangky-tintuc button {
    margin: 10px 10px;
    width: 90%;
    background-color: #FF9800;
    padding: 5px 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;


}

.container-fluid .container .left .new_link {
    margin: 10px 0px;
    border-bottom: 2px solid #ddd;
}

.container-fluid .container .left .new_link img {
    margin: 20px 0px;
}

.container-fluid .container .left .new_link b {
    padding: 5px 0px;
    font-size: 25px;
}





.container-fluid .container .left .tintuc1 {
    margin: 10px 0px;
}

.container-fluid .container .left .tintuc1 .cart img {
    margin: 10px 0px;
    border-radius: 10px;
}

.container-fluid .container .left .tintuc1 .cart b {
    color:#555;
    font-size: 14px;

}

.container-fluid .container .left .tintuc1 .cart b:hover {
    color: red;

}

.container-fluid .container .left .tintuc2 {
    margin: 10px 0px;
}

.container-fluid .container .left .tintuc2 .cart img {
    margin: 10px 0px;
    border-radius: 10px;
}

.container-fluid .container .left .tintuc2 .cart b {
    color: #555;
    font-size: 14px;

}


.container-fluid .container .left .tintuc2 .cart b:hover {
    color: red;

}

.container-fluid .container .left .comment {
    background-color: #ddd;
    padding: 5px 20px;
    margin: 20px 0px;
    border-radius: 5px;
   
   

}
.container-fluid .container .left .comment b{
    font-size: 20px;
    color: #555;
   

}
.container-fluid .container .left .comment p{
   margin: 10px 0px;
    color: black;
    font-weight: 600;
   

}
.container-fluid .container .left .comment textarea{
    width: 100%;
    height: 5%;
    border-radius: 5px;
    border: 1px solid #ddd;
    
 
 }
 .container-fluid .container .left .comment .row input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    
 }
 .container-fluid .container .left .comment  button{
    margin: 10px 0px;
    background-color: #FF9800;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    width: 50%;
    padding: 5px 15px ;
    color: #fff;
  
    
 }
 @media screen and (min-width: 700px) and (max-width:1400px) {
    @media screen and (min-width: 700px) and (max-width:1024px) {
      .container-fluid .container .right .baiviet {
  
        width: 100% !important;
      }
  
      .container-fluid .container .right .baiviet .row p {
        font-size: 13px !important;
      }
  
      .container-fluid .container .right .baiviet .row img {
        border-radius: 50%;
        width: 50px;
  
      }
    }
  
  
    .container-fluid .container .right .baiviet .row p {
      margin-left: 20px;
      font-size: 13px !important;
    }
  .container-fluid .container .dangky-tintuc {
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
    padding: 0px 10px;
    background-color: #bd141a;
  
  }
  .container-fluid .container .dangky-tintuc input {
    border-radius: 10px;
    border: none;
    margin: 10px 10px;
    width: 90%;
    padding: 5px 5px;
  }
  .container-fluid .container .dangky-tintuc textarea {
    margin: 10px 10px;
    width: 90%;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
  }
  .container-fluid .container .left  {
    margin: 10px auto;
    border-radius: 10px;
   
  }
  .container-fluid .container .left img  {
    width: 100% !important;
   margin: 10px auto;
   
  }
  .container-fluid .container .right  {
    margin: 10px auto;
    border-radius: 10px;
   
  }
  .container-fluid .container .right  img  {
   width: 100% !important;
   margin: 10px auto;
   
  }
  .container-fluid .container .right .baiviet  {
    margin: 20px 0px !important;
    width: 100% !important;
  
  
  }
  
  }
  
  @media screen and (min-width: 375px) and (max-width:932px) {
    .container-fluid .container .left .tintuc1 .cart img {
      margin: 10px 0px;
      border-radius: 10px;
      width: 100% !important;
    }
    .container-fluid .container .left .tintuc2 .cart img {
      margin: 10px 0px;
      border-radius: 10px;
      width: 100% !important;
    }
  
    .container-fluid .container .right  {
      margin: 20px 10px !important;
      width: 100%;
    
    
    }
    .container-fluid .container .right .baiviet  {
      margin: 20px 15px !important;
      width: 70% !important;
    
    
    }
  }
 
  

 
 