/* Hiệu ứng xuất hiện */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show {
    opacity: 1;
}

.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.show.slide-in-right,
.show.slide-in-left {
    transform: translateX(0);
    opacity: 1;
}

/* Hình ảnh */
.card-img-top {
    border-radius: 10px;
}