.header{
    background-color: #54545c;
    padding-left: 0px;
    /* position: sticky; */
    top: 0;
    left: 0;
}

.row img {
    width: 60%;
    text-align: center;
}

.bottom {
    background-color: #54545c;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.row .logo {
    text-align: center;

}

.row .search {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    flex: 1;
    width: auto;
}

hr{
    color: white;
}
.search button{
    margin-left: -40px;
    background-color: orange;
    padding: 11.5px 12.5px;
    color: white;
    border: none;
}
.search button:hover {
    background-color: red;
    color: white;
}
.icon button{
    margin-top: 50px;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.icon button:hover {
    background-color: red;
    color: white;
}

 .list ul li a {
    color: white;
    font-weight: bold;
}

 .list ul {
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
}

 .list ul li {
    text-transform: uppercase;
}


.row .search input {
    width: 70%;
    padding: 6px;
}


@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .col-sm-3 {
        margin-top: 0;
    }
}

.link:hover {
    background-color: #161616;
}

a:hover {
    background-color: #161616;
}

a:active {
    color: #161616;
}

.dropbtn {
    background-color: #54545c;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #54545c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #161616
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #161616;
}

